# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Back-end/node_modules
Front-end/node_modules
Back-end/dist
Front-end/dist
Back-end/dist-ssr
Front-end/dist-ssr
Back-end/.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
Back-end/.idea
Front-end/.idea
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

